<div class="rest" ng-cloak>
	<div class="row search">
		<form>

				<div layout-gt-sm="row" layout-padding>
					<div layout-gt-sm="column" layout-padding>
						<md-autocomplete
							ng-disabled="rc.isDisabled"
							md-no-cache="rc.noCache"
							md-selected-item="rc.selectedItem"
							md-search-text-change="rc.searchTextChange(rc.searchText)"
							md-search-text="rc.searchText"
							md-selected-item-change="rc.selectedItemChange(item)"
							md-items="item in rc.querySearch(rc.searchText)"
							md-item-text="item.display"
							md-min-length="0"
							placeholder="Nombre?">
							<md-item-template>
	               <span md-highlight-text="rc.searchText" md-highlight-flags="^i">{{item}}</span>
	            </md-item-template>
	            <md-not-found>
	               No existe ningún nombre que coincida con "{{ctrl.searchText}}".
	               <a ng-click="rc.newState(rc.searchText)">Puedes añadirlo!</a>
	            </md-not-found>
		      	</md-autocomplete>
					</div>
					<div layout-gt-sm="column" layout-padding>
						<md-radio-group ng-model="rc.genre">
							<md-radio-button ng-repeat="g in rc.genres"
															 ng-value="g.value"
															 aria-label="{{g.title}}">{{ g.title }}
							</md-radio-button>
						</md-radio-group>
					</div>
        </div>
				<div layout-gt-sm="row" layout-padding>
					<md-button
						class="md-raised md-primary"
			  		ng-click="rc.getValues()"
			  		ng-disabled="rc.buttonInvalid">
			  		Buscar
			  	</md-button>
					<md-progress-circular md-mode="{{rc.mode}}"></md-progress-circular>
				</div>
		</form>
	</div>

	<div class="row results">
		<div class="name col-md-12" ng-show="rc.values.length>0">
			<strong>{{rc.name|uppercase}}</strong>
		</div>
		<div class="headers col-md-12" ng-show="rc.values.length>0">
			<div class="row">
				<div class="col-sm-6">
					<strong ng-click="rc.orderTable('provincia')" ng-class>Provincia</strong>
					<span class="sortorder" ng-show="rc.predicate === 'provincia'" ng-class="{reverse:rc.reverse}"></span>
				</div>
				<div class="col-sm-3 text-right">
					<strong ng-click="rc.orderTable('number')">Total</strong>
					<span class="sortorder" ng-show="rc.predicate === 'number'" ng-class="{reverse:rc.reverse}"></span>
				</div>
				<div class="col-sm-3 text-right">
					<strong ng-click="rc.orderTable('percent')">Por mil (‰)</strong>
					<span class="sortorder" ng-show="rc.predicate === 'percent'" ng-class="{reverse:rc.reverse}"></span>
				</div>
			</div>
		</div>
		<div class="values col-md-12" ng-show="rc.values.length>0" ng-repeat="value in rc.values | orderBy:rc.predicate:rc.reverse" >
			<div class="row">
				<div class="col-sm-6">
					<span>{{value.provincia}}</span>
				</div>
				<div class="col-sm-3 text-right">
					<span>{{value.number}}</span>
				</div>
				<div class="col-sm-3 text-right">
					<span>{{value.percent}}</span>
				</div>
			</div>
		</div>
		<div class="col-md-12" ng-show="!rc.isValid">
			<span>No se ha encontrado ningún dato con el nombre seleccionado.</span>
		</div>
	</div>
</div>
